html {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    
.container{
    max-width: 1200px;
    margin: 0 auto; /* Centralizando o conteúdo*/
    
  }

  .menu {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
  }

  .menu-flex {
    display: flex;
    align-items: center;
  }

  .menu-column {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
  }

  .menu-column.menu-second-column {
    justify-content: flex-end;
  }

  .menu-nav ul {
    display: flex;
    list-style: none;
    gap: 10px; /* Vamos utilizar essa propriedade do flex para colocar um espaçamento entre os elementos*/
  }

  .menu-nav ul li a {
    text-decoration: none;
    color: #585e65;
  }

  .menu-link-button {
    text-decoration: none;
    height: 48px;
    background-color: #4c6ef5;
    color: #fff;
    padding: 0 32px;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }
  h1 {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
body {
    background-color: black;
}
  .products-wrapper{
    width: 80%;
    margin-top: 16px;
    margin: auto;


    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
    align-items: center;
    
}

.cardContent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    border-radius: 2%;
    margin-top: 16px;
    width: 400px;
    height: 605px;
    background-color: white;
    padding: 1rem;
}
#photoProduct {
    height: 50%;
    width: 100%;
    margin: 2px;
    border-radius: 2%;
}

.textCard {
    text-align: center;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0.5em;
}
.precoAntigo
{   
    color: #838383;
    text-decoration: line-through;
    font-size: 80%;
}
button {
    height: 3em;
    width: 80%;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #4c6ef5;
    border-radius: 2%;
    border: none;
    box-shadow: 1px 8px 13px 0px rgba(0,0,0,0.56);
}